 <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" name='f_name' id="form3Example1" class="form-control" placeholder="Username" />
                                          </div>
                    <span id="username-availability"  style="color:red;"></span>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" name='l_name' id="form3Example2" class="form-control" placeholder="Name" />

                    </div>
                  </div>
                </div>